*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#fff;
  color:#111;
}

/* NAVBAR */
.navbar{
  position:fixed;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
  background:white;
  border-bottom:1px solid #eee;
}

.logo{
  display:flex;
  align-items:center;
  gap:10px;
}

.logo img{
  height:50px;
}

/* HERO */
.hero{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero h1{
  font-size:40px;
}

.hero p{
  margin-top:10px;
}

/* SECTION */
section{
  padding:100px 60px;
  text-align:center;
}

.section-title{
  font-size:30px;
}

.section-text{
  max-width:600px;
  margin:20px auto;
}

/* VISI MISI */
.vm-row{
  display:flex;
  align-items:center;
  gap:60px;
  margin-top:80px;
}

.vm-row.reverse{
  flex-direction:row-reverse;
}

.vm-media{
  width:200px;
  height:200px;
  padding:10px;
  border-radius:50%;
  background:#f3f4f6;
}

.vm-media video{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:50%;
}

/* ANIMATION */
.reveal{
  opacity:0;
  transform:translateY(40px);
  transition:1s;
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}

/* RESPONSIVE */
@media(max-width:768px){
  .vm-row{
    flex-direction:column;
  }
}
